:root {
  --dsa-size-0: 0px;
  --dsa-size-10: 1px;
  --dsa-size-25: 2px;
  --dsa-size-40: 3px;
  --dsa-size-50: 4px;
  --dsa-size-65: 5px;
  --dsa-size-75: 6px;
  --dsa-size-85: 7px;
  --dsa-size-100: 8px;
  --dsa-size-115: 9px;
  --dsa-size-125: 10px;
  --dsa-size-130: 11px;
  --dsa-size-150: 12px;
  --dsa-size-160: 13px;
  --dsa-size-175: 14px;
  --dsa-size-185: 15px;
  --dsa-size-200: 16px;
  --dsa-size-225: 18px;
  --dsa-size-250: 20px;
  --dsa-size-275: 22px;
  --dsa-size-300: 24px;
  --dsa-size-325: 26px;
  --dsa-size-350: 28px;
  --dsa-size-375: 30px;
  --dsa-size-400: 32px;
  --dsa-size-450: 36px;
  --dsa-size-500: 40px;
  --dsa-size-550: 44px;
  --dsa-size-600: 48px;
  --dsa-size-700: 56px;
  --dsa-size-800: 64px;
  --dsa-size-900: 72px;
  --dsa-size-1000: 80px;
  --dsa-size-1200: 96px;
  --dsa-size-1700: 136px;
  --dsa-size-2400: 192px;
  --dsa-size-2500: 200px;
  --dsa-size-2600: 208px;
  --dsa-size-2800: 224px;
  --dsa-size-3200: 256px;
  --dsa-size-3400: 272px;
  --dsa-size-3500: 280px;
  --dsa-size-3600: 288px;
  --dsa-size-3800: 304px;
  --dsa-size-4000: 320px;
  --dsa-size-4200: 336px;
  --dsa-size-4400: 352px;
  --dsa-size-4600: 368px;
  --dsa-size-5000: 400px;
  --dsa-size-6000: 480px;
}
